---
import type { DataType } from "../../db/schema";
import InputForm from "../components/InputForm";
import Layout from "../layouts/Layout.astro";

if (!Astro.cookies.get("auth_session"))
    return new Response(null, { status: 401 });

// const authSession = Astro.cookies.get("auth_session");

const host = new URL(Astro.request.url).host;

const userResponse = await fetch(`${host}/api/getUserEmail`, {
    headers: {
        "user-agent":
            "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Mobile Safari/537.36 Edg/125.0.0.0",
    },
});
const user = (await userResponse.json()) as {
    id: string;
    email: string;
};

const response = await fetch(
    Astro.request.url.replace("edit", `api/getTransaction`),
);

const data = (await response.json()) as DataType;
---

<Layout title="edit">
    <p>editing as {user.email}</p>
    <InputForm client:load prevData={data} />
</Layout>
