---
import { eq } from "drizzle-orm";
import { dummyData } from "../../db/dummyData";
import { transactions, type DataType } from "../../db/schema";
import InputForm from "../components/InputForm";
import Layout from "../layouts/Layout.astro";
import { checkIsAuthenticated } from "../helpers/checkIsAuthenticated";
import { getTransaction } from "../helpers/getTransaction";

let user = await checkIsAuthenticated(Astro.locals, Astro.cookies);
if (!user) return Astro.redirect("/login");

const data = await getTransaction(Astro.locals);
---

<Layout title="edit">
    <p>editing as {user?.email}</p>
    <InputForm client:load prevData={data} />
</Layout>
