---
import type { DataType } from "../../db/schema";
import InputForm from "../components/InputForm";
import Layout from "../layouts/Layout.astro";

if (!Astro.cookies.get("auth_session"))
    return new Response(null, { status: 401 });

// const authSession = Astro.cookies.get("auth_session");

const userResponse = await fetch(`/api/getUserEmail`);
const user = (await userResponse.json()) as {
    id: string;
    email: string;
};

const response = await fetch(
    Astro.request.url.replace("edit", `api/getTransaction`),
);

const data = (await response.json()) as DataType;
---

<Layout title="edit">
    <p>editing as {user.email}</p>
    <InputForm client:load prevData={data} />
</Layout>
