---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <div class="container flex flex-col bg-black text-white">
            <a href="/input">input</a>
        </div>
    </main>
</Layout>
